<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aliasname</key>
		<string>aerfaluomiou</string>
		<key>icon</key>
		<string>aerfaluomiou_i.jpg</string>
		<key>name</key>
		<string>阿尔法罗密欧</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>asidunmading</string>
		<key>icon</key>
		<string>asidunmading_i.jpg</string>
		<key>name</key>
		<string>阿斯顿・马丁</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>aodi</string>
		<key>icon</key>
		<string>aodi_i.jpg</string>
		<key>name</key>
		<string>奥迪</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>babosi</string>
		<key>icon</key>
		<string>babosi_i.jpg</string>
		<key>name</key>
		<string>巴博斯</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>baojun</string>
		<key>icon</key>
		<string>baojun_i.jpg</string>
		<key>name</key>
		<string>宝骏</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>baoma</string>
		<key>icon</key>
		<string>baoma_i.jpg</string>
		<key>name</key>
		<string>宝马</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>baoshijie</string>
		<key>icon</key>
		<string>baoshijie_i.jpg</string>
		<key>name</key>
		<string>保时捷</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>beijingqiche</string>
		<key>icon</key>
		<string>beijingqiche_i.jpg</string>
		<key>name</key>
		<string>北京汽车</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>beiqihuansu</string>
		<key>icon</key>
		<string>beiqihuansu_i.jpg</string>
		<key>name</key>
		<string>北汽幻速</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>beiqiweiwang</string>
		<key>icon</key>
		<string>beiqiweiwang_i.jpg</string>
		<key>name</key>
		<string>北汽威旺</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>beiqizhizao</string>
		<key>icon</key>
		<string>beiqizhizao_i.jpg</string>
		<key>name</key>
		<string>北汽制造</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>benchi</string>
		<key>icon</key>
		<string>benchi_i.jpg</string>
		<key>name</key>
		<string>奔驰</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>bengteng</string>
		<key>icon</key>
		<string>bengteng_i.jpg</string>
		<key>name</key>
		<string>奔腾</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>bentian</string>
		<key>icon</key>
		<string>bentian_i.jpg</string>
		<key>name</key>
		<string>本田</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>biyadi</string>
		<key>icon</key>
		<string>biyadi_i.jpg</string>
		<key>name</key>
		<string>比亚迪</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>biaozhi</string>
		<key>icon</key>
		<string>biaozhi_i.jpg</string>
		<key>name</key>
		<string>标致</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>bieke</string>
		<key>icon</key>
		<string>bieke_i.jpg</string>
		<key>name</key>
		<string>别克</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>binli</string>
		<key>icon</key>
		<string>binli_i.jpg</string>
		<key>name</key>
		<string>宾利</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>bujiadi</string>
		<key>icon</key>
		<string>bujiadi_i.jpg</string>
		<key>name</key>
		<string>布加迪</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>changhe</string>
		<key>icon</key>
		<string>changhe_i.jpg</string>
		<key>name</key>
		<string>昌河</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>changanjiaoche</string>
		<key>icon</key>
		<string>changanjiaoche_i.jpg</string>
		<key>name</key>
		<string>长安</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>changanshangyong</string>
		<key>icon</key>
		<string>changanshangyong_i.jpg</string>
		<key>name</key>
		<string>长安商用</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>changcheng</string>
		<key>icon</key>
		<string>changcheng_i.jpg</string>
		<key>name</key>
		<string>长城</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>ds</string>
		<key>icon</key>
		<string>ds_i.jpg</string>
		<key>name</key>
		<string>DS</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>dazhong</string>
		<key>icon</key>
		<string>dazhong_i.jpg</string>
		<key>name</key>
		<string>大众</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>daoqi</string>
		<key>icon</key>
		<string>daoqi_i.jpg</string>
		<key>name</key>
		<string>道奇</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>dongfeng</string>
		<key>icon</key>
		<string>dongfeng_i.jpg</string>
		<key>name</key>
		<string>东风</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>dongfengfengshen</string>
		<key>icon</key>
		<string>dongfengfengshen_i.jpg</string>
		<key>name</key>
		<string>东风风神</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>dongfengfengxing</string>
		<key>icon</key>
		<string>dongfengfengxing_i.jpg</string>
		<key>name</key>
		<string>东风风行</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>dongfengxiaokang</string>
		<key>icon</key>
		<string>dongfengxiaokang_i.jpg</string>
		<key>name</key>
		<string>东风小康</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>dongnan</string>
		<key>icon</key>
		<string>dongnan_i.jpg</string>
		<key>name</key>
		<string>东南</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>falali</string>
		<key>icon</key>
		<string>falali_i.jpg</string>
		<key>name</key>
		<string>法拉利</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>feiyate</string>
		<key>icon</key>
		<string>feiyate_i.jpg</string>
		<key>name</key>
		<string>菲亚特</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>fengtian</string>
		<key>icon</key>
		<string>fengtian_i.jpg</string>
		<key>name</key>
		<string>丰田</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>fudi</string>
		<key>icon</key>
		<string>fudi_i.jpg</string>
		<key>name</key>
		<string>福迪</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>fute</string>
		<key>icon</key>
		<string>fute_i.jpg</string>
		<key>name</key>
		<string>福特</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>futian</string>
		<key>icon</key>
		<string>futian_i.jpg</string>
		<key>name</key>
		<string>福田</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>gmc</string>
		<key>icon</key>
		<string>gmc_i.jpg</string>
		<key>name</key>
		<string>GMC</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>guanzhi</string>
		<key>icon</key>
		<string>guanzhi_i.jpg</string>
		<key>name</key>
		<string>观致</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>hafei</string>
		<key>icon</key>
		<string>hafei_i.jpg</string>
		<key>name</key>
		<string>哈飞</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>hafu</string>
		<key>icon</key>
		<string>hafu_i.jpg</string>
		<key>name</key>
		<string>哈弗</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>haige</string>
		<key>icon</key>
		<string>haige_i.jpg</string>
		<key>name</key>
		<string>海格</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>haima</string>
		<key>icon</key>
		<string>haima_i.jpg</string>
		<key>name</key>
		<string>海马</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>hongqi</string>
		<key>icon</key>
		<string>hongqi_i.jpg</string>
		<key>name</key>
		<string>红旗</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>huanghai</string>
		<key>icon</key>
		<string>huanghai_i.jpg</string>
		<key>name</key>
		<string>黄海</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>Jeep</string>
		<key>icon</key>
		<string>Jeep_i.jpg</string>
		<key>name</key>
		<string>Jeep</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jilidihao</string>
		<key>icon</key>
		<string>jilidihao_i.jpg</string>
		<key>name</key>
		<string>吉利帝豪</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jiliquanqiuying</string>
		<key>icon</key>
		<string>jiliquanqiuying_i.jpg</string>
		<key>name</key>
		<string>吉利全球鹰</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jiliyinglun</string>
		<key>icon</key>
		<string>jiliyinglun_i.jpg</string>
		<key>name</key>
		<string>吉利英伦</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jianghuai</string>
		<key>icon</key>
		<string>jianghuai_i.jpg</string>
		<key>name</key>
		<string>江淮</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jianglin</string>
		<key>icon</key>
		<string>jianglin_i.jpg</string>
		<key>name</key>
		<string>江铃</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jiebao</string>
		<key>icon</key>
		<string>jiebao_i.jpg</string>
		<key>name</key>
		<string>捷豹</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jinbei</string>
		<key>icon</key>
		<string>jinbei_i.jpg</string>
		<key>name</key>
		<string>金杯</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>jinlonglianhe</string>
		<key>icon</key>
		<string>jinlonglianhe_i.jpg</string>
		<key>name</key>
		<string>金龙</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>kairui</string>
		<key>icon</key>
		<string>kairui_i.jpg</string>
		<key>name</key>
		<string>开瑞</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>kaidilake</string>
		<key>icon</key>
		<string>kaidilake_i.jpg</string>
		<key>name</key>
		<string>凯迪拉克</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>kelaisile</string>
		<key>icon</key>
		<string>kelaisile_i.jpg</string>
		<key>name</key>
		<string>克莱斯勒</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>lanbojini</string>
		<key>icon</key>
		<string>lanbojini_i.jpg</string>
		<key>name</key>
		<string>兰博基尼</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>laosilaisi</string>
		<key>icon</key>
		<string>laosilaisi_i.jpg</string>
		<key>name</key>
		<string>劳斯莱斯</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>leikesasi</string>
		<key>icon</key>
		<string>leikesasi_i.jpg</string>
		<key>name</key>
		<string>雷克萨斯</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>leinuo</string>
		<key>icon</key>
		<string>leinuo_i.jpg</string>
		<key>name</key>
		<string>雷诺</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>lilian</string>
		<key>icon</key>
		<string>lilian_i.jpg</string>
		<key>name</key>
		<string>理念</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>lifan</string>
		<key>icon</key>
		<string>lifan_i.jpg</string>
		<key>name</key>
		<string>力帆</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>lianhua</string>
		<key>icon</key>
		<string>lianhua_i.jpg</string>
		<key>name</key>
		<string>莲花汽车</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>linken</string>
		<key>icon</key>
		<string>linken_i.jpg</string>
		<key>name</key>
		<string>林肯</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>linmu</string>
		<key>icon</key>
		<string>linmu_i.jpg</string>
		<key>name</key>
		<string>铃木</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>lufeng</string>
		<key>icon</key>
		<string>lufeng_i.jpg</string>
		<key>name</key>
		<string>陆风</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>luhu</string>
		<key>icon</key>
		<string>luhu_i.jpg</string>
		<key>name</key>
		<string>路虎</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>lutesi</string>
		<key>icon</key>
		<string>lutesi_i.jpg</string>
		<key>name</key>
		<string>路特斯</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>mg</string>
		<key>icon</key>
		<string>mg_i.jpg</string>
		<key>name</key>
		<string>MG</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>mazida</string>
		<key>icon</key>
		<string>mazida_i.jpg</string>
		<key>name</key>
		<string>MINI</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>mg</string>
		<key>icon</key>
		<string>mg_i.jpg</string>
		<key>name</key>
		<string>马自达</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>mashaladi</string>
		<key>icon</key>
		<string>mashaladi_i.jpg</string>
		<key>name</key>
		<string>玛莎拉蒂</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>maikailun</string>
		<key>icon</key>
		<string>maikailun_i.jpg</string>
		<key>name</key>
		<string>迈凯伦</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>nazhijie</string>
		<key>icon</key>
		<string>nazhijie_i.jpg</string>
		<key>name</key>
		<string>纳智捷</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>ouge</string>
		<key>icon</key>
		<string>ouge_i.jpg</string>
		<key>name</key>
		<string>讴歌</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>oubao</string>
		<key>icon</key>
		<string>oubao_i.jpg</string>
		<key>name</key>
		<string>欧宝</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>oulang</string>
		<key>icon</key>
		<string>oulang_i.jpg</string>
		<key>name</key>
		<string>欧朗</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>qirui</string>
		<key>icon</key>
		<string>qirui_i.jpg</string>
		<key>name</key>
		<string>奇瑞</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>qichen</string>
		<key>icon</key>
		<string>qichen_i.jpg</string>
		<key>name</key>
		<string>启辰</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>qiya</string>
		<key>icon</key>
		<string>qiya_i.jpg</string>
		<key>name</key>
		<string>起亚</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>richan</string>
		<key>icon</key>
		<string>richan_i.jpg</string>
		<key>name</key>
		<string>日产</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>rongwei</string>
		<key>icon</key>
		<string>rongwei_i.jpg</string>
		<key>name</key>
		<string>荣威</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>ruiqi</string>
		<key>icon</key>
		<string>ruiqi_i.jpg</string>
		<key>name</key>
		<string>瑞麒</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>smart</string>
		<key>icon</key>
		<string>smart_i.jpg</string>
		<key>name</key>
		<string>smart</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>sanning</string>
		<key>icon</key>
		<string>sanning_i.jpg</string>
		<key>name</key>
		<string>三菱</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>shenbao</string>
		<key>icon</key>
		<string>shenbao_i.jpg</string>
		<key>name</key>
		<string>绅宝</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>shuanghuan</string>
		<key>icon</key>
		<string>shuanghuan_i.jpg</string>
		<key>name</key>
		<string>双环</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>shuanglong</string>
		<key>icon</key>
		<string>shuanglong_i.jpg</string>
		<key>name</key>
		<string>双龙</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>sibalu</string>
		<key>icon</key>
		<string>sibalu_i.jpg</string>
		<key>name</key>
		<string>斯巴鲁</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>sikeda</string>
		<key>icon</key>
		<string>sikeda_i.jpg</string>
		<key>name</key>
		<string>斯柯达</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>tesila</string>
		<key>icon</key>
		<string>tesila_i.jpg</string>
		<key>name</key>
		<string>特斯拉</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>weiling</string>
		<key>icon</key>
		<string>weiling_i.jpg</string>
		<key>name</key>
		<string>威麟</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>weiziman</string>
		<key>icon</key>
		<string>weiziman_i.jpg</string>
		<key>name</key>
		<string>威兹曼</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>woerwo</string>
		<key>icon</key>
		<string>woerwo_i.jpg</string>
		<key>name</key>
		<string>沃尔沃</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>xiyate</string>
		<key>icon</key>
		<string>xiyate_i.jpg</string>
		<key>name</key>
		<string>西雅特</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>xiandai</string>
		<key>icon</key>
		<string>xiandai_i.jpg</string>
		<key>name</key>
		<string>现代</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>xuefulan</string>
		<key>icon</key>
		<string>xuefulan_i.jpg</string>
		<key>name</key>
		<string>雪佛兰</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>xuetielong</string>
		<key>icon</key>
		<string>xuetielong_i.jpg</string>
		<key>name</key>
		<string>雪铁龙</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>yema</string>
		<key>icon</key>
		<string>yema_i.jpg</string>
		<key>name</key>
		<string>野马汽车</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>yiqi</string>
		<key>icon</key>
		<string>yiqi_i.jpg</string>
		<key>name</key>
		<string>一汽</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>yingfeinidi</string>
		<key>icon</key>
		<string>yingfeinidi_i.jpg</string>
		<key>name</key>
		<string>英菲尼迪</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>yongyuan</string>
		<key>icon</key>
		<string>yongyuan_i.jpg</string>
		<key>name</key>
		<string>永源</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>zhonghua</string>
		<key>icon</key>
		<string>zhonghua_i.jpg</string>
		<key>name</key>
		<string>中华</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>zhongxing</string>
		<key>icon</key>
		<string>zhongxing_i.jpg</string>
		<key>name</key>
		<string>中兴</string>
	</dict>
	<dict>
		<key>aliasname</key>
		<string>zhongtai</string>
		<key>icon</key>
		<string>zhongtai_i.jpg</string>
		<key>name</key>
		<string>众泰</string>
	</dict>
</array>
</plist>
